body {
    background-color: yellowgreen;
}

nav.navigation{
    width:100%;
    height: 70px;
    background-color : khaki;
}

a {
    width:150px;
    height: 30px;
    background-color:gold;
    border: 1px green groove ;
    text-align:center;
    vertical-align: middle;
    padding: 10px;
    margin : 10px;
    border-radius: 15px 50px 30px 5px;
    display:block;
    float:left;
}

a:hover {
    background-color:pink;
}

table.tableau2{
    width:40%;
    border:solid  5px;
    border-color: blue;
    border-collapse:collapse;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

table.tableau2 td {
    border:solid green 2px;
}

table.tableau2 caption{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5px;
    color:olive;
}

table.tableau2 thead{
    color:purple;
    background-color:LightBlue; /*#ADD8E6*/
}

table.tableau2 thead th{
    border:solid red 2px;
}

table.tableau2 tfoot{
    color:purple;
    background-color:green;
}
