*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    height: 100%;
}
 body{
   min-height: 100%;
   display: flex;
   flex-direction: column;
   font-family: 'Raleway', sans-serif;
}

.nav-container {
background: cornflowerblue;
display: flex;
justify-content: space-between;

}

nav{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
}

nav .logo{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: cornsilk;

}

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex: 0.6;
    margin-right: 10%;


}

nav ul li a{
    text-decoration: none;
    color: cornsilk;
    text-align: left;


}

nav ul li a:hover{
    color: darkgoldenrod;
}

.section{
    margin-bottom: 100px;
    height: 40vh;
    position: relative;
}

.section::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("a4b8f8c3470492300c620c50a1d50c22.jpg");
    z-index: -1;
    background-size: cover;
}

.content{
    width: 90%;
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
}

.content h1 {
    color: cornsilk;
    font-family: 'Raleway', sans-serif;
    font-size: 30pt;
}

.content h2{
    color: cornsilk;
}
.content span{
    color: #6495ED;
}

footer{

    background-color:cornflowerblue;
    padding: 25px 100px;
    color: cornsilk;
    margin-top: auto;

}

footer .colonnes{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.section2{

    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

}

.section2 h2{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;

}
.section2 p{
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
   width: 70%;
   font-size: 20px;

}
.info {

    display: flex;
    flex-direction: column;
    justify-content: center;



}
span{
    color: #6495ED;
}
.info li{
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    width: 70%;
    font-size: 20px;

}


.img{
    margin-bottom: 100px;
   padding: 100px;
   padding-left: 20px;

}

.text{

    padding: 100px;
    background: cornflowerblue;
    font-family: 'Raleway', sans-serif;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px olive, -1em 0 .4em olive;

}


.text h2{
    font-family: 'Raleway', sans-serif;
    margin-top: 6rem;
}
.text p{
    margin-top: 2.5rem;
    width: 100%;


}



.section4{
  background: #00FFFF;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 50px;

}



.section4 h2{
    font-family: 'Raleway', sans-serif;
    margin-top: 1rem;
}
.section4 p{

   width: 100%;
   margin-top: 1rem;
}
.section4 h3{
    margin-top: 1rem;
}
.info{
   display: flex;
   flex-direction: column;
   justify-content: center;
   float:left;

}

.logo {
    position:absolute;
    top: 750px;
    right: 450px;
    margin-top: 1px;
    margin-bottom: 50px;
    width: 100px;
    height:100px;

}

.logo1 {
    position:absolute;
    top: 870px;
    right: 450px;
    margin-top: 1px;
    margin-bottom: 50px;
    width: 100px;
    height:100px;

}
.logo2 {
    position:absolute;
    top: 970px;
    right: 450px;
    margin-top: 1px;
    margin-bottom: 10px;
    width: 100px;
    height:100px;

}



.section3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 70px;
}



.section4 li{
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
   width: 100%;
   font-size: 20px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.flex > div {
    flex-grow: 1;
    margin: 5px;
    text-align: center;
}

#right_col { align-self: stretch; margin: 10px 0; }
.flex-start {
    display: flex;
}

a:hover { color: #4AD26D;}
#big { flex-grow: 3;}
#main_content { flex-grow: 2;}
li { line-height: 1.4em; text-align: left; }
.blue { background: #2CC5F7;}
.orange { background: #FC6137;}
.green { background: #4AD26D;}
.violet { background: #B56AE4; color: #FFF; }
.bloc { padding: 20px;}
.menu a { border-right: 1px #FFF solid; margin-left: 10px; padding-right: 10px;}
.menu a:last-child { border: none; }
.footer .flex { align-items: flex-start; }
